Python-3.9.1/PC/_msi.c
Python-3.9.1/PC/_testconsole.c
Python-3.9.1/PC/classicAppCompat.can.xml
Python-3.9.1/PC/classicAppCompat.cat
Python-3.9.1/PC/classicAppCompat.sccd
Python-3.9.1/PC/config.c
Python-3.9.1/PC/crtlicense.txt
Python-3.9.1/PC/dl_nt.c
Python-3.9.1/PC/empty.c
Python-3.9.1/PC/errmap.h
Python-3.9.1/PC/errmap.mak
Python-3.9.1/PC/frozen_dllmain.c
Python-3.9.1/PC/getpathp.c
Python-3.9.1/PC/invalid_parameter_handler.c
Python-3.9.1/PC/launcher.c
Python-3.9.1/PC/msvcrtmodule.c
Python-3.9.1/PC/pyconfig.h
Python-3.9.1/PC/pylauncher.rc
Python-3.9.1/PC/pyshellext_d.def
Python-3.9.1/PC/pyshellext.cpp
Python-3.9.1/PC/pyshellext.def
Python-3.9.1/PC/pyshellext.idl
Python-3.9.1/PC/pyshellext.rc
Python-3.9.1/PC/python_exe.rc
Python-3.9.1/PC/python_nt.rc
Python-3.9.1/PC/python_uwp.cpp
Python-3.9.1/PC/python_ver_rc.h
Python-3.9.1/PC/python.manifest
Python-3.9.1/PC/python3.def
Python-3.9.1/PC/python3dll.c
Python-3.9.1/PC/pythonw_exe.rc
Python-3.9.1/PC/readme.txt
Python-3.9.1/PC/sqlite3.rc
Python-3.9.1/PC/store_info.txt
Python-3.9.1/PC/testpy.py
Python-3.9.1/PC/validate_ucrtbase.py
Python-3.9.1/PC/WinMain.c
Python-3.9.1/PC/winreg.c
Python-3.9.1/PC/winsound.c
Python-3.9.1/PC/bdist_wininst/archive.h
Python-3.9.1/PC/bdist_wininst/bdist_wininst.vcxproj
Python-3.9.1/PC/bdist_wininst/bdist_wininst.vcxproj.filters
Python-3.9.1/PC/bdist_wininst/build.bat
Python-3.9.1/PC/bdist_wininst/extract.c
Python-3.9.1/PC/bdist_wininst/install.c
Python-3.9.1/PC/bdist_wininst/install.rc
Python-3.9.1/PC/bdist_wininst/PythonPowered.bmp
Python-3.9.1/PC/bdist_wininst/README.txt
Python-3.9.1/PC/bdist_wininst/resource.h
Python-3.9.1/PC/clinic/_testconsole.c.h
Python-3.9.1/PC/clinic/msvcrtmodule.c.h
Python-3.9.1/PC/clinic/winreg.c.h
Python-3.9.1/PC/clinic/winsound.c.h
Python-3.9.1/PC/icons/idlex44.png
Python-3.9.1/PC/icons/idlex150.png
Python-3.9.1/PC/icons/launcher.icns
Python-3.9.1/PC/icons/launcher.ico
Python-3.9.1/PC/icons/launcher.svg
Python-3.9.1/PC/icons/logo.svg
Python-3.9.1/PC/icons/logox128.png
Python-3.9.1/PC/icons/py.icns
Python-3.9.1/PC/icons/py.ico
Python-3.9.1/PC/icons/py.png
Python-3.9.1/PC/icons/py.svg
Python-3.9.1/PC/icons/pyc.icns
Python-3.9.1/PC/icons/pyc.ico
Python-3.9.1/PC/icons/pyc.svg
Python-3.9.1/PC/icons/pyd.icns
Python-3.9.1/PC/icons/pyd.ico
Python-3.9.1/PC/icons/pyd.svg
Python-3.9.1/PC/icons/python.icns
Python-3.9.1/PC/icons/python.ico
Python-3.9.1/PC/icons/python.svg
Python-3.9.1/PC/icons/pythonw.icns
Python-3.9.1/PC/icons/pythonw.ico
Python-3.9.1/PC/icons/pythonw.svg
Python-3.9.1/PC/icons/pythonwx44.png
Python-3.9.1/PC/icons/pythonwx150.png
Python-3.9.1/PC/icons/pythonx44.png
Python-3.9.1/PC/icons/pythonx50.png
Python-3.9.1/PC/icons/pythonx150.png
Python-3.9.1/PC/icons/setup.icns
Python-3.9.1/PC/icons/setup.ico
Python-3.9.1/PC/icons/setup.svg
Python-3.9.1/PC/layout/__init__.py
Python-3.9.1/PC/layout/__main__.py
Python-3.9.1/PC/layout/main.py
Python-3.9.1/PC/layout/support/__init__.py
Python-3.9.1/PC/layout/support/appxmanifest.py
Python-3.9.1/PC/layout/support/catalog.py
Python-3.9.1/PC/layout/support/constants.py
Python-3.9.1/PC/layout/support/distutils.command.bdist_wininst.py
Python-3.9.1/PC/layout/support/filesets.py
Python-3.9.1/PC/layout/support/logging.py
Python-3.9.1/PC/layout/support/nuspec.py
Python-3.9.1/PC/layout/support/options.py
Python-3.9.1/PC/layout/support/pip.py
Python-3.9.1/PC/layout/support/props.py
Python-3.9.1/PC/layout/support/python.props
